*{
    box-sizing: border-box;
    outline: none;
    max-width: 100%;
    font-family: Segoe UI;
}

.counter{
    width: 60vw;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(rgb(181, 196, 235), rgb(30, 81, 156));
    border-radius: 20px;
}

.counter h1{
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 20px;
}

.counter__value {
    margin-top: 80px;
}

input{
    padding: 10px 30px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
}

button{
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    background: royalblue;
    border: none;
    color: white;
}

button:hover{
    background: rgb(54, 91, 201);
}

button:active{
    background: rgb(10, 66, 231);
}